<div class="list-containner">
    <div class="row">
        <div class="col-xl-12 mb-xl-0">
            <div class="card shadow dash-cardbox">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-sm-4 pl-1">
                            <h3 class="mb-0">Customer List</h3>
                        </div>
                        <div class="col text-right pr-1">
                            <div class="listsearch-topblock search_withaddbtn">
                                <div class="search-box">
                                    <input type="search" placeholder="Search" class="searchtxt" />
                                    <i class="mdi mdi-magnify"></i>
                                </div>
                                <div class="right_addbtn">
                                    <button data-toggle="modal" (click)="addMember(1)"
                                        data-target="#actionCustomer_modal"
                                        class="btn btn-success btn-sm create_header_btn">
                                        <i class="mdi mdi-account"></i>
                                        <span class="btn-txt button-text">Add Customer</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table align-items-center table-flush mydata-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="col">Customer No.</th>
                            <th class="col text-center">Image</th>
                            <th class="col">Name</th>
                            <th class="col">Mobile</th>
                            <th class="col">Aadhar No.</th>
                            <th class="col">Loan Amt</th>
                            <th class="col">Pending Amt</th>
                            <th class="col text-center">Status</th>
                            <th class="col action_col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col">RK-Cus101</td>
                            <td class="col">
                                <div class="list_image_block">
                                    <img src="assets/imgs/default-pic.png" />
                                </div>
                            </td>
                            <td class="col">Sandeep Patel</td>
                            <td class="col">6263626505</td>
                            <td class="col">126585965214</td>
                            <td class="col text-right">12,000.00</td>
                            <td class="col text-right">7200.00</td>
                            <td class="col text-center"><span class="badge bg-success text-white">Active</span></td>
                            <td class="action_col">
                                <div ngbDropdown placement="bottom-right">
                                    <a class="btn btn-sm btn-icon-only text-light no_before_after" ngbDropdownToggle>
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" data-target="#history_modal" data-toggle="modal">
                                            <i class="mdi mdi-history mr-2"></i>Loan History</a>
                                        <a class="dropdown-item" data-target="#loan_provide_modal" data-toggle="modal">
                                            <i class="mdi mdi-cash-100 mr-2"></i>Provide Loan</a>
                                        <a class="dropdown-item" data-target="#view_modal" data-toggle="modal">
                                            <i class="mdi mdi-eye mr-2"></i>View Details</a>
                                        <a class="dropdown-item" data-toggle="modal" (click)="addMember(0)"
                                            data-target="#actionCustomer_modal">
                                            <i class="mdi mdi-pencil mr-2"></i>Edit Customer</a>
                                        <a class="dropdown-item" (click)="statusActive()">
                                            <i class="mdi mdi-account-off-outline mr-2"></i>Inactive</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <div class="no_found">
                                    <h1><i class="mdi mdi-alert-outline"></i></h1><b> No record found </b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- View Customer Details Popup -->
    <div class="modal upload-filemodel fade" id="view_modal" tabindex="-1" role="dialog" aria-labelledby="modal-form"
        aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Customer Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body p-0 bg-secondary">
                    <div class="card-body apic-lb-form-box">
                        <table class="table table-bordered table-responsive popup_table bg-white more_table">
                            <tbody>
                                <tr>
                                    <td><b>Customer No. :</b></td>
                                    <td>Rk-Cus101</td>
                                </tr>
                                <tr>
                                    <td><b>Profile Image :</b></td>
                                    <td>
                                        <div class="list_image_block float-left">
                                            <img src="assets/imgs/default-pic.png">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Customer Name :</b></td>
                                    <td>Sandeep Kushwaha</td>
                                </tr>
                                <tr>
                                    <td><b>Mobile :</b></td>
                                    <td>6263626505</td>
                                </tr>
                                <tr>
                                    <td><b>Aadhar No. :</b></td>
                                    <td>626362650548</td>
                                </tr>
                                <tr>
                                    <td><b>Join Date :</b></td>
                                    <td>12-Mar-2021</td>
                                </tr>
                                <tr>
                                    <td><b>Loan Amount :</b></td>
                                    <td>12,000.00</td>
                                </tr>
                                <tr>
                                    <td><b>Pending Amount :</b></td>
                                    <td>72,000.00</td>
                                </tr>
                                <tr>
                                    <td><b>Status :</b></td>
                                    <td><span class="badge bg-success text-white">Active</span></td>
                                </tr>
                                <tr>
                                    <td><b>Address :</b></td>
                                    <td>Home no. 72, bajrang nagar jabalpur </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- History Details Popup -->
    <div class="modal upload-filemodel fade" id="history_modal" tabindex="-1" role="dialog" aria-labelledby="modal-form"
        aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Customer Loan History Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body p-0 bg-secondary">
                    <div class="card-body apic-lb-form-box">
                        <table class="table table-bordered table-responsive popup_table bg-white more_table">
                            <thead>
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Days</th>
                                    <th>Amount</th>
                                    <th>Pending</th>
                                    <th>Status</th>
                                    <th class="text-center">Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>11-Jun-2021</td>
                                    <td>10-Mar-2021</td>
                                    <td>100</td>
                                    <td class="text-right">12000</td>
                                    <td class="text-right">12000</td>
                                    <td class="text-center"><span class="badge bg-success text-white">Running</span>
                                    </td>
                                    <td class="text-center"><span class="btn btn-sm btn-primary btn_download"><i
                                                class="mdi mdi-download"></i></span></td>
                                </tr>
                                <tr>
                                    <td>12-Mar-2021</td>
                                    <td>21-May-2021</td>
                                    <td>100</td>
                                    <td class="text-right">12000</td>
                                    <td class="text-right">7200</td>
                                    <td class="text-center"><span class="badge bg-success text-white">Running</span>
                                    </td>
                                    <td class="text-center"><span class="btn btn-sm btn-primary btn_download"><i
                                                class="mdi mdi-download"></i></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add / Edit Members Popup -->
    <div class="modal fade" id="actionCustomer_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mb-0" *ngIf="customer_action == 1">Add New Customer</h5>
                    <h5 class="modal-title mb-0" *ngIf="customer_action != 1">Update Customer Details</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form class="create_collection">
                    <div class="modal-body modal_insert bg-secondary pb-0">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Customer No.</mat-label>
                                    <input matInput required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Name</mat-label>
                                    <input matInput required />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mobile</mat-label>
                                    <input matInput required />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput required />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Aadhar No.</mat-label>
                                    <input matInput required />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Status</mat-label>
                                    <mat-select>
                                        <mat-option value="Active">Active</mat-option>
                                        <mat-option value="Inactive">Inactive</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Customer Login Id</mat-label>
                                    <input matInput required />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput required />
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-6 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput required formControlName="address"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-xs-12">
                                <label class="m-0">Customer Image</label>
                                <input type="file" class="file" class="fileupload" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer text-right">
                    <button type="button" mat-button mat-stroked-button data-dismiss="modal"><i
                            class="mdi mdi-close mr-1"></i>Cancel</button>
                    <button class="submit_btn" *ngIf="customer_action == 1" data-dismiss="modal" color="primary"
                        mat-raised-button>
                        <i class="mdi mdi-send mr-1"></i>Submit
                    </button>
                    <button class="submit_btn" *ngIf="customer_action != 1" data-dismiss="modal" color="primary"
                        mat-raised-button>
                        <i class="mdi mdi-send mr-1"></i>Update
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Loan Provide Details Popup -->
    <div class="modal upload-filemodel fade" id="loan_provide_modal" tabindex="-1" role="dialog"
        aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Loan Provide Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body p-0 bg-secondary">
                    <div class="card-body apic-lb-form-box">
                        <div class="row">
                            <div class="col-sm-4 col-lg-6 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Customer Name</mat-label>
                                    <input matInput disabled="disabled" value="Sandeep Kanojiya" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-6 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Loan Amount</mat-label>
                                    <input matInput required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-6 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Instalment Amount</mat-label>
                                    <input matInput required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-6 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>No of days</mat-label>
                                    <input matInput required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-6 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Start date</mat-label>
                                    <input type="date" matInput required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 col-lg-6 col-xs-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>End date</mat-label>
                                    <input type="date" matInput required>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Assign Member</mat-label>
                            <mat-select>
                                <mat-option value="Bhaijan">Bhaijan</mat-option>
                                <mat-option value="Inactive">Roshan Kanojiya</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Loan Details</mat-label>
                            <textarea matInput required formControlName="address"></textarea>
                        </mat-form-field>
                        <div class="text-center mt-1">
                            <button type="button" class="mr-3 bg-white" mat-button mat-stroked-button data-dismiss="modal"><i
                                    class="mdi mdi-close mr-1 bg-white"></i>Cancel</button>
                            <button class="submit_btn" data-dismiss="modal" color="primary" mat-raised-button>
                                <i class="mdi mdi-send mr-1"></i>Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>