<div class="list-containner">
    <div class="row">
        <div class="col-xl-12 mb-xl-0">
            <div class="card shadow dash-cardbox">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-sm-4 pl-1">
                            <h3 class="mb-0">Fixed Deposit List</h3>
                        </div>
                        <div class="col text-right pr-1">
                            <div class="listsearch-topblock search_withaddbtn">
                                <div class="search-box">
                                    <input type="search" placeholder="Search" class="searchtxt" />
                                    <i class="mdi mdi-magnify"></i>
                                </div>
                                <div class="right_addbtn">
                                    <button data-toggle="modal" (click)="actionDeposit(0)" data-target="#actionDeposit_modal" type="button"
                                        class="btn btn-success btn-sm create_header_btn">
                                        <i class="mdi mdi-account"></i>
                                        <span class="btn-txt button-text">Add Deposit</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table align-items-center table-flush mydata-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="col">Fixed Deposit Name</th>
                            <th class="col">Customer Name</th>
                            <th class="col">Start Date</th>
                            <th class="col">End Date</th>
                            <th class="col">Days / Time Slot</th>
                            <th class="col">Start Amount</th>
                            <th class="col">End Amount</th>
                            <th class="col text-center">Status</th>
                            <th class="col action_col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col">Money Double Plan</td>
                            <td class="col">Sourabh Rajak - 6263626505</td>
                            <td class="col">12-Mar-2021</td>
                            <td class="col">11-Jun-2022</td>
                            <td class="col">1 Years</td>
                            <td class="col text-right">100000.00</td>
                            <td class="col text-right">111111.00</td>
                            <td class="col text-center"><span class="badge bg-success text-white">Active</span></td>
                            <td class="action_col">
                                <div ngbDropdown placement="bottom-right">
                                    <a class="btn btn-sm btn-icon-only text-light no_before_after" ngbDropdownToggle>
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" (click)="actionDeposit(1)" data-target="#actionDeposit_modal" data-toggle="modal">
                                            <i class="mdi mdi-pencil mr-2"></i>Edit Details</a>
                                        <a class="dropdown-item" data-target="#view_modal" data-toggle="modal">
                                            <i class="mdi mdi-eye mr-2"></i>View Details</a>
                                        <a class="dropdown-item" data-target="#status_modal" data-toggle="modal">
                                            <i class="mdi mdi-account-off-outline mr-2"></i>Change Status</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <div class="no_found">
                                    <h1><i class="mdi mdi-alert-outline"></i></h1><b> No record found </b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <!-- Add / Edit Deposit Popup -->
        <div class="modal fade" id="actionDeposit_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mb-0" *ngIf="deposit_action == 0">Add Fixed Deposit</h5>
                        <h5 class="modal-title mb-0" *ngIf="deposit_action == 1">Update Fixed Deposit Details</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form class="create_collection">
                        <div class="modal-body modal_insert bg-secondary pb-0">
                            <div class="row">
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fixed Deposit Name</mat-label>
                                        <input matInput required>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Start Date</mat-label>
                                        <input type="date" matInput required />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>End Date</mat-label>
                                        <input type="date" matInput required />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customer Name</mat-label>
                                        <input matInput required />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customer Mobile</mat-label>
                                        <input matInput required />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customer Email</mat-label>
                                        <input matInput />
                                    </mat-form-field>
                                </div>                                                          
                                <div class="col-sm-6 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Start Amount</mat-label>
                                        <input matInput required />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>End Amount</mat-label>
                                        <input matInput required />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select>
                                            <mat-option value="Active">Active</mat-option>
                                            <mat-option value="Inactive">Inactive</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>  
                                <div class="col-sm-6 col-lg-4 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Aadhar No.</mat-label>
                                        <input matInput />
                                    </mat-form-field>
                                </div> 
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <label class="m-0">Aadhar Front</label>
                                    <input type="file" class="file" class="fileupload" />
                                </div>                                 
                                <div class="col-sm-4 col-lg-4 col-xs-12">
                                    <label class="m-0">Aadhar Back</label>
                                    <input type="file" class="file" class="fileupload" />
                                </div>
                                <div class="col-sm-6 col-lg-6 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput formControlName="address"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-lg-6 col-xs-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Details</mat-label>
                                        <textarea matInput formControlName="Details"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer text-right">
                        <button type="button" mat-button mat-stroked-button data-dismiss="modal"><i
                                class="mdi mdi-close mr-1"></i>Cancel</button>
                        <button class="submit_btn" *ngIf="deposit_action == 0" data-dismiss="modal" color="primary"
                            mat-raised-button>
                            <i class="mdi mdi-send mr-1"></i>Submit
                        </button>
                        <button class="submit_btn" *ngIf="deposit_action == 1" data-dismiss="modal" color="primary"
                            mat-raised-button>
                            <i class="mdi mdi-send mr-1"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <!-- View Offers / Schems Details Popup -->
    <div class="modal upload-filemodel fade" id="view_modal" tabindex="-1" role="dialog" aria-labelledby="modal-form"
        aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Fixed Deposit Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body p-0 bg-secondary">
                    <div class="card-body apic-lb-form-box">
                        <table class="table table-bordered table-responsive popup_table bg-white more_table">
                            <tbody>
                                <tr>
                                    <td><b>Fixed Deposit Name :</b></td>
                                    <td>Money Double Plan</td>
                                </tr>
                                <tr>
                                    <td><b>Customer Name :</b></td>
                                    <td>Sourabh Rajak</td>
                                </tr>
                                <tr>
                                    <td><b>Customer Mobile :</b></td>
                                    <td>6263626505</td>
                                </tr>
                                <tr>
                                    <td><b>Customer Email :</b></td>
                                    <td>rajak@gmail.com</td>
                                </tr>
                                <tr>
                                    <td><b>Customer Mobile :</b></td>
                                    <td>12-Mar-2021</td>
                                </tr>
                                <tr>
                                    <td><b>Start Date :</b></td>
                                    <td>12-Mar-2021</td>
                                </tr>
                                <tr>
                                    <td><b>End Date</b></td>
                                    <td>11-Mar-2022</td>
                                </tr>
                                <tr>
                                    <td><b>Days / Time Slot</b></td>
                                    <td>1 Year</td>
                                </tr>
                                <tr>
                                    <td><b>Start Amount</b></td>
                                    <td>1,00,000.00</td>
                                </tr>
                                <tr>
                                    <td><b>End Amount</b></td>
                                    <td>1,11,111.00</td>
                                </tr>
                                <tr>
                                    <td><b>Status :</b></td>
                                    <td><span class="badge bg-success text-white">Active</span></td>
                                </tr>
                                <tr>
                                    <td><b>Details :</b></td>
                                    <td><span class="offer_details_popup">Explore the Best Info Now. Quick Answers. Find
                                            All Info You
                                            Want. 100+ Unique Results. Find in Seconds. Useful & Relevant. Services:
                                            Secure
                                            Search, No.1 Answers, Trusted Results.</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Status Update -->
    <div class="modal upload-filemodel fade" id="status_modal" tabindex="-1" role="dialog" aria-labelledby="modal-form"
        aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Status</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body p-0 bg-secondary">
                    <div class="card-body apic-lb-form-box">
                        <form>
                            <table class="table table-bordered table-responsive popup_table bg-white more_table">
                                <tbody>
                                    <tr>
                                        <td><b>Fixed Deposit Name :</b></td>
                                        <td>Money Double Plan</td>
                                    </tr>
                                    <tr>
                                        <td><b>Start Date :</b></td>
                                        <td>12-Mar-2021</td>
                                    </tr>
                                    <tr>
                                        <td><b>End Date :</b></td>
                                        <td>11-Jun-2022</td>
                                    </tr>
                                    <tr>
                                        <td><b>Days / Time Slot :</b></td>
                                        <td>1 Years</td>
                                    </tr>
                                    <tr>
                                        <td><b>Start Amount :</b></td>
                                        <td>1,00,000.00</td>
                                    </tr>
                                    <tr>
                                        <td><b>End Amount :</b></td>
                                        <td>1,11,111.00</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group mt-4">
                                <label class="mb-0"><small>Status</small></label>
                                <select class="form-control">
                                    <option value="Working">Working</option>
                                    <option value="Received">Received</option>
                                    <option value="Cancelled">Cancelled</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="mb-0"><small>Details</small></label>
                                <div class="input-group login-txtbox">
                                    <textarea rows="3" class="form-control" placeholder="Enter Details"></textarea>
                                </div>
                            </div>
                            <div class="login-btnblock text-center">
                                <button data-dismiss="modal" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>