<section class="profile-container">
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="mb-0">UPDATE PASSWORD</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-lg-3">
                        <form [formGroup]="changepass">
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                                    </div>
                                    <input type="text" placeholder="Current Password" formControlName="old" class="form-control" />
                                </div>
                                <div *ngIf="submitted && f.existpass.errors" class="invalid-feedback">
                                    <div *ngIf="f.existpass.errors.required">Existing Password is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                                    </div>
                                    <input type="text" placeholder="New Password" formControlName="new" class="form-control" />
                                </div>
                                <div *ngIf="submitted && f.newpass.errors" class="invalid-feedback">
                                    <div *ngIf="f.newpass.errors.required">New Password is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                                    </div>
                                    <input type="text" placeholder="COnfirm Password" formControlName="new_confirm" class="form-control" />
                                </div>
                                <div *ngIf="submitted && f.retype.errors" class="invalid-feedback">
                                    <div *ngIf="f.retype.errors.required">Retype Password is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="!changepass.valid"  (click)="change_password()" class="btn btn-block btn-primary mt-3 mb-2">
                    <span *ngIf="loading"  class="spinner-border spinner-border-sm mr-1"></span>
                      Update Password
                    </button>
                                <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert_popup alert alert-success" role="alert" id="success_popup">
        <strong>Success!</strong> upadte updated successfully.
    </div>
    <div *ngIf="invalid_login" class="alert_popup alert alert-warning alert_show" role="alert" id="warning_popup">
        <strong>Invalid Login!</strong> Please enter valid password.
    </div>
</section>