.search_withaddbtn {
    padding-right: 165px;
}
.offer_details {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.offer_image_popup{
    width: 100%;
    img{
        width: 100%;
    }
}